.feedback{
    padding: 103px 0 71px 0;
    &__client{
        display: flex;
        padding-bottom: 102px;
        &__feed{
            padding-left: 62px;
        }
            &__title{
                color: #0d0d0d;
                font-size: 18px;
                font-weight: 400;
            }
            &__subtitle{
                color: #646464;
                font-size: 14px;
                font-weight: 400;
            }
            &__descr{
                color: #0d0d0d;
                font-size: 16px;
                font-weight: 400;
            }
    }
} 